<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
        integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Niyə Biz?</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            background-color: #244364;
            color: white;
            font-family: Arial, sans-serif;
            height: 100vh;
            justify-content: space-between;
        }

        .navbar {
            background-color: #20272e;
        }

        .navbar-brand img {
            width: 130px;
            height: 50px;
        }

        .header-text {
            color: gold;
        }

        .content {
            margin-top: 50px;
        }

        .content p {
            font-size: 1.1rem;
        }

        .footer {
            background-color: #20272e;
            color: white;
            padding: 20px 0;
            text-align: center;
            margin-top: 50px;
        }
    </style>
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="./img/jannab_text.png" alt="Jannab"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/"><i class="fa-solid fa-left-long"></i> Geri</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container content text-center">
        <h1 class="header-text">Niyə Biz?</h1>
        <p>
            Sizə xüsusi və bənzərsiz qoxu təcrübələri təqdim edən Jannab Ətir Mağazasına xoş gəlmisiniz. Öz tərzinizi və
            şəxsiyyətinizi əks etdirən eksklüziv qoxularla özünüzü ifadə etmək artıq çox asandır. Jannab qoxularla
            danışanların üstünlük verdiyi ünvandır. Mükəmməl keyfiyyətimizi kəşf edin, zövqünüzə uyğun qoxular.
            Həyatınıza lüks və zəriflik qatın. Ətirlərlə dolu Jannab dünyasına sizdə qoşulun.
        </p>
    </div>

    <!-- Footer -->
    <div class="footer">
        <p>&copy; 2024 Jannab Ətir Mağazası. Bütün hüquqlar qorunur.</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>