<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
        integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Niyə Biz?</title>
</head>
<style>
    body {
        background-color: #244364;

    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #244364;

    }

    .content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        height: 30vh;
        background-color: #244364;
        margin-top: 70px;

    }

    .text {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text p {
        text-align: center;
        font-weight: bolder;
        color: white;
    }

    .head_text {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .head_text h1 {
        color: gold;
        text-align: center;

    }

    .back_btn {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
        background-color: #20272e;
        /* background-color: #343d46; */
    }

    .a_i {
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 0;
        background-color: #20272e;


    }

    .a_i a i {
        font-size: 25px;
        margin: 5px;
        text-align: start;
        border: 1px solid white;
        border-radius: 50px;
        padding: 5px;
        margin-left: 10px;

    }

    .img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: auto;
        object-fit: contain;
    }

    .img img {
        width: 130px;
        height: 50px;
        object-fit: fill;
        margin-right: 45px;
    }
</style>

<body>
    <div class="container">
        <div class="back_btn">
            <div class="a_i">
                <a href="/"><i class="fa-solid fa-left-long" style="color: white;"></i></a>
            </div>
            <div class="img">
                <a href="/"><img src="./img/jannab_text.png" alt=""></a>
            </div>
        </div>
        <div class="content">
            <div class="head_text">
                <h1>Niyə Biz?</h1>
            </div>
            <div class="text">
                <p>
                    Sizə xüsusi və bənzərsiz qoxu təcrübələri təqdim edən Jannab Ətir Mağazasına xoş gəlmisiniz. Öz
                    tərzinizi və şəxsiyyətinizi əks etdirən eksklüziv qoxularla özünüzü ifadə etmək artıq çox asandır.
                    Jannab qoxularla danışanların üstünlük verdiyi ünvandır. Mükəmməl keyfiyyətimizi kəşf edin.
                    zövqünüzə uyğun qoxular. Həyatınıza lüks və zəriflik qatın. Ətirlərlə dolu Jannab dünyasına sizdə
                    qoşulun.
                </p>
            </div>
        </div>
    </div>
</body>

</html>